# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
.directory

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
backend/venv/
frontend/node_modules/
resources/
